.App {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
  }
  
  h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
  }
  
  #data {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .data-item {
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    padding: 10px;
    max-width: 600px;
    min-width: 200px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  #config {
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  #config label {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0075ff;
    color: white;
    font-weight: bold;
  }
  
  .paper {
    padding: 20px;
    margin-top: 20px;
  }